@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
/*? GLOBAL */
:root {
  --mainBgColor: #eee;
  --secondaryBgColor: #f4f4f4;
  --hoverColor: #f5465d;
  --mainTextColor: #444;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: var(--mainTextColor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondaryBgColor);
  height: 100vh;
}
