@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
/*? GLOBAL */
:root {
  --mainColor: #c2e2ff;
  --secondaryColor: #f0f8ff;
  --alternativeColor: #00abed;
  --textColor: #202020;
  --lightBg: #fff;
}
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100vh;
  background-color: var(--mainColor);
  color: var(--textColor);
  display: grid;
  place-items: center;
}

.wrapper {
  max-width: 798px;
  text-align: center;
}
.container {
  background-color: var(--secondaryColor);
  border-radius: 15px;
  padding: 1rem;
}
.container > * {
  margin: 1rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

/*? IMAGE*/
.img-container {
  width: 239px;
  height: 239px;
  margin: auto;
  border-radius: 50%;
  background: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*? TEXT */
.full-name {
  font-weight: 500;
}
.job-title {
  color: var(--alternativeColor);
  font-size: 0.8rem;
  font-weight: 500;
}
.review {
  background-color: var(--lightBg);
  padding: 1rem 2rem;
  position: relative;
  border-radius: 15px;
  min-height: 100px;
}
.review p {
  font-size: 18px;
}
.review #left {
  color: var(--mainColor);
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.review #right {
  color: var(--mainColor);
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

/*? SLIDERS */
.btn {
  border: none;
  border-bottom: 7px solid var(--mainColor);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  width: 3rem;
  cursor: pointer;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  transition: 0.25s;
  cursor: default;
}

.active {
  border-color: var(--alternativeColor);
}
/*? ARROWS */

.arrow {
  font-size: 2rem;
  margin: 1rem;
  color: var(--mainColor);
  cursor: pointer;
}

.arrow:hover {
  color: var(--alternativeColor);
}

/*? BUTTON */
#random {
  border: 5px solid var(--mainColor);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: var(--textColor);
  background-color: var(--lightBg);
  cursor: pointer;
  outline: none;
}

#random:hover {
  border-color: var(--alternativeColor);
}

/*? MEDIA */
@media only screen and (max-width: 813px) {
  * {
    font-size: 15px;
  }
  .wrapper {
    max-width: 80vw;
    text-align: center;
  }
}
