@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
/*? GLOBAL */
:root {
  --mainBgColor: #eee;
  --secondaryBgColor: #f4f4f4;
  --hoverColor: #f5465d;
  --mainTextColor: #444;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: var(--mainTextColor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondaryBgColor);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/*? NAVBAR */
nav {
  background-color: var(--mainBgColor);
  border-bottom: 1px solid var(--mainTextColor);
  box-shadow: 0px 10px 5px 0px rgba(68, 68, 68, 0.75);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(68, 68, 68, 0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(68, 68, 68, 0.75);
}

nav .nav-container {
  margin: auto;
  max-width: 1200px;
}
.navbar {
  display: flex;
  width: 40%;
  margin: 0 auto;
}
nav .nav-container .navbar li {
  margin: 1rem auto;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: var(--hoverColor);
  text-decoration: underline;
}
.nav-burger {
  width: 100%;
  text-align: right;
  padding: 1rem;
  display: none;
}
/*? SIDEBAR */
.sidebar {
  position: absolute;
  left: -350px;
  background-color: var(--mainBgColor);
  max-width: 450px;
  height: 100%;
  box-shadow: 10px 0px 5px 0px rgba(68, 68, 68, 0.75);
  -webkit-box-shadow: 10px 0px 5px 0px rgba(68, 68, 68, 0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(68, 68, 68, 0.75);
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  align-items: center;
}

.side-menu-wrapper {
  background-color: var(--mainBgColor);
  max-width: 300px;
  height: 100%;
  display: grid;
  align-items: center;
}
.side-text,
#chevron {
  display: grid;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 2rem;
  transition: 0.5s;
}

#chevron i:hover {
  cursor: pointer;
  color: var(--hoverColor);
}
.side-container ul li {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--mainTextColor);
}

/*? MODAL */
.modal-buttons {
  max-width: 680px;
  margin: auto;
  text-align: center;
}
.modal-buttons .btn {
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}
.modal-buttons #btn-1 {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.modal-buttons #btn-2 {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.modal-buttons #btn-3 {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.modal-buttons #btn-1:hover {
  background-image: linear-gradient(to bottom right, #39b385, #9be15d);
}
.modal-buttons #btn-2:hover {
  background-image: linear-gradient(to bottom right, #e52a5a, #ff585f);
}
.modal-buttons #btn-3:hover {
  background-image: linear-gradient(to bottom right, #ffb003, #ffcb03);
}

.modal-window {
  background-color: var(--mainBgColor);
  max-width: 680px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 2rem;
  z-index: 100;
}
.modal-window h1 {
  font-weight: 500;
  margin-bottom: 2rem;
}
.modal-window button i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  outline: none;
}
.overlay {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/*? HIDDEN */
.hidden {
  display: none;
}
/*? Animations and transitions */

.rotate {
  animation: 0.25s linear rotate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotate-back {
  animation: 0.25s linear rotate-back;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rotate-back {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.move-in {
  animation: 0.25s linear move-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes move-in {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(350px);
  }
}

.move-out {
  animation: 0.25s linear move-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes move-out {
  from {
    transform: translateX(350px);
  }
  to {
    transform: translateX(0px);
  }
}

/*? MEDIA */
@media only screen and (max-width: 813px) {
  * {
    font-size: 18px;
  }
  .modal-buttons {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }

  .modal-window {
    width: 90vw;
  }

  .sidebar {
    display: none;
  }
  .nav-burger {
    display: block;
  }
  .navbar {
    width: 100%;
    display: none;
    padding-left: 1rem;
    flex-direction: column;
  }
  nav .nav-container ul li {
    width: 100%;
  }
  .active {
    display: block;
  }
}
