@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
/*? GLOBAL */
:root {
  --mainBgColor: #f3f3f3;
  --secondaryBgColor: #fff;
  --hoverColor: #f5465d;
  --mainTextColor: #444;
}
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 22px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainTextColor);
}
body {
  background-color: var(--mainBgColor);
  height: 100vh;
  display: grid;
  place-items: center;
}

.showcase,
.game {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
/*? Showcase */
.btn {
  background: linear-gradient(to top left, #ffb003, #ffcb03);
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
}
.btn:hover {
  background: linear-gradient(to bottom right, #ffb003, #ffcb03);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
}

/*? CARDS */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.card-items {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  perspective: 1000px; /*3d effect*/
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-style: preserve-3d;
}
.active {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  cursor: pointer;
}
.card-front:hover,
.card-back:hover {
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
}
.card-front {
  background: linear-gradient(to top left, #39b385, #9be15d);
}
.card-back {
  background: linear-gradient(to top left, #e52a5a, #ff585f);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card-back i {
  color: var(--mainBgColor);
}

/*? CONTROLS */
.placeholder {
  visibility: hidden;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.timer {
  font-weight: 500;
}
.btn-reset {
  padding: 0.5rem 1rem;
  background: linear-gradient(to top left, #e52a5a, #ff585f);
  color: var(--mainBgColor);
}
.btn-reset:hover {
  background: linear-gradient(to bottom right, #e52a5a, #ff585f);
}
/*? HIDE */
.hidden {
  display: none;
}
.invisibility {
  /* opacity: 0; */
  transform: scale(0);
  pointer-events: none;
}
/*? DISPLAY-MESSAGE */
.display-message {
  text-align: center;
  padding: 4rem;
  background-color: var(--secondaryBgColor);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
}
.display-message h1 {
  font-size: 2rem;
}
.display-message h2 {
  margin: 1rem;
}
/*? MEDIA */
@media only screen and (max-width: 732px) {
  * {
    font-size: 18px;
  }
}

@media only screen and (max-width: 575px) {
  * {
    font-size: 16px;
  }
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
  }
}
