@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
  --darkColor1: #2d3439;
  --darkColor2: #42484d;
  --lightColor1: #aaa;
  --lightColor2: #ececec;
  --bgColor: #fff;
  --blueColor: #4285f4;
  --blueGradient: linear-gradient(to top right, #164eaf, #4285f4);
  --yellowGradient: linear-gradient(to top left, #ffb003, #ffcb03);
  --songBorder: #8a3fcf;
  --excerciseBorder: #e52a5a;
  --greenGradient: linear-gradient(to top left, #39b385, #9be15d);

  --guessNote: linear-gradient(to top left, #7e7e7e, #a0a0a0);
  --failColor: linear-gradient(to top left, #e52a5a, #ff585f);
}
/*************? GLOBAL ******************/
* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--lightColor2);
  color: var(--darkColor1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 80%;
  display: flex;
  background: var(--bgColor);
  border-radius: 25px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
}
.dark-btn {
  border: none;
  border-radius: 5px;
  background: var(--lightColor1);
  color: var(--lightColor2);
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.play-btn:hover,
.dark-btn:hover,
.metronome-start-btn:hover {
  transform: scale(1.1);
}
input,
select {
  border-radius: 5px;
  border: none;
  padding: 5px;
  outline: none;
  margin-left: 3px;
}
.practice-item {
  background: var(--darkColor2);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.fa-dumbbell {
  background: var(--blueGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.fa-music {
  background: var(--yellowGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.fa-clock {
  background: var(--greenGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
small {
  color: #ec6d8d;
  padding-left: 2.2rem;
}
/*************? PRACTICE ASSISTANT SECTION ******************/
#practice-items {
  list-style: none;
}
.practice-assistant {
  width: 45%;
  background: var(--darkColor1);
  color: var(--lightColor2);
  padding: 2rem;
  font-size: 0.5rem;
  border-radius: 25px 0 0 25px;
  min-height: 80vh;
}
.logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.logo i {
  background: var(--blueGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}
.title-group {
  grid-column: span 3;
  margin-bottom: 1rem;
}
.title-group input {
  width: 90%;
}
.btn-group {
  justify-self: end;
}
.practice-item-title {
  grid-column: span 3;
}
.practice-item-details {
  grid-column: span 2;
}
.play-btn-wrapper {
  justify-self: end;
}
.play-btn {
  background: var(--darkColor2);
  color: var(--lightColor2);
  border: none;
  cursor: pointer;
}
.practice-item-details {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.song-item {
  border-left: 5px solid var(--songBorder);
}
.excercise-item {
  border-left: 5px solid var(--excerciseBorder);
}

.input-error {
  background: #ec6d8d;
}
/*************? CONTENT SECTION ******************/
.content {
  width: 55%;
}
/*************? NAVIGATION ******************/

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid #eee;
}
.nav-item {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.nav-item a {
  text-decoration: none;
  color: var(--darkColor1);
}
.nav-active,
.nav-item:hover {
  border-top: 5px solid var(--blueColor);
  background: linear-gradient(to top, #fff, #eee);
}

.metronome-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.metronome-start-btn {
  cursor: pointer;
  justify-self: center;
}
.metronome-start-btn i {
  background: var(--blueGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.control-btn {
  border: none;
  background: var(--blueGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  outline: none;
}

#bpm-number-input {
  width: 40%;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  text-align: right;
  outline: none;
}
.bpm input[type='number'] {
  font-size: 2rem;
}
/*HIDING INPUT FIELD ARROWS*/
/* Chrome, Safari, Edge, Opera */
.bpm input::-webkit-outer-spin-button,
.bpm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.bpm input[type='number'] {
  -moz-appearance: textfield;
}

.bpm-label {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blueColor);
}
